[Unit]
Description=Dynette named.conf regeneration
After=network.target
StartLimitIntervalSec=10
StartLimitBurst=5

[Service]
Type=oneshot
User=root
Group=root
WorkingDirectory=__INSTALL_DIR__
ExecStart=__INSTALL_DIR__/venv/bin/regen_named_conf

StandardOutput=append:/var/log/__APP__/__APP__-regen-named-conf.log
StandardError=inherit

# Workaround for systemd.path PathModified, see https://serverfault.com/a/1175113
; ExecStartPre=touch __DATA_DIR__/__APP__-regen-named-conf.flag
; ExecStopPost=bash -c 'if [ __DATA_DIR__/domains.sql -nt __DATA_DIR__/__APP__-regen-named-conf.flag ]; then systemctl --no-block restart __APP__-regen-named-conf.service; fi'

[Install]
WantedBy=multi-user.target
